.chart-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart-container {
  flex: 1 1 48%;
  padding: 10px;
}

.chart-title {
  text-align: center;
}

@media (max-width: 600px) {
  .chart-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .chart-container {
    flex: 1 1 100%;
    padding: 10px 0;
  }
}
